* {
    border: 1px solid red;
}

body {
    margin: 40px;
    max-width: 960px;

}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: auto;
}

header {
    grid-column: 1 / span 3;
    text-align: center;

}

nav {
    grid-column: 1 / span 3;
    grid-row: 2;
    text-align: center;
}

section {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    text-align: center;
}

aside {
    grid-column: 3;
    grid-row: 3 / span 2;
    text-align: center;
}

article {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
    text-align: center;
}

footer {
    grid-row: 7;
    grid-column: 1 / span 3;
    text-align: center;
}